@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Newsfeed</title>

@*<script src="https://fb.me/react-with-addons-0.13.2.min.js"></script>*@
@*<script src="https://fb.me/JSXTransformer-0.13.2.js"></script>*@

@*<script src="@Url.Content("~/Scripts/HelloWorld.jsx")"></script>*@

@Scripts.Render("~/bundles/core")
@Scripts.Render("~/bundles/components")

<style>
    .card {
        border: 1px solid #000;
        background: #f00;
    }
</style>
</head>

<body>
    <h1>testicle</h1>
    <div id="content"></div>

    @*<script type="text/jsx">
        React.render(
        <HelloWorld name="World"/>,
        document.getElementById('content')
        );
    </script>*@
    @Html.React("HelloWorld", new
    {
        name = "World"
    })


    @Html.ReactInitJavaScript()
</body>
</html>
