@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Newsfeed</title>

    @Styles.Render("~/content/css")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

    @*<script src="https://fb.me/react-with-addons-0.13.2.min.js"></script>*@
    @*<script src="https://fb.me/JSXTransformer-0.13.2.js"></script>*@

    @*<script src="@Url.Content("~/Scripts/HelloWorld.jsx")"></script>*@

    @Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/react-components")

</head>

<body>
    <h1>testicle</h1>
    <div id="content"></div>

    @*<script type="text/jsx">
        React.render(
        <HelloWorld name="World"/>,
        document.getElementById('content')
        );
    </script>*@
    @Html.React("HelloWorld", new
    {
        name = "World"
    })

    @Html.React("StatusForm", new{})

    @Html.ReactInitJavaScript()
</body>
</html>
